p.ex2 {
    border: 5px solid black; 
    margin: 35px;
  }
  
      * {box-sizing: border-box}
      
      /* Set height of body and the document to 100% */
      body, html {
        height: 100%;
        margin: 0;
        font-family: Arial;
      }
      
      /* Style tab links */
      .tablink {
        background-color: black;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 20%;
      }
      
      .tablink:hover {
        background-color: #777;
      }
      
      /* Style the tab content (and add height:100% for full page content) */
      .tabcontent {
        color: white;
        padding: 50px 20px;
        height: 100%;
      }
      
      #Home { background-image: url("http://getwallpapers.com/wallpaper/full/2/0/a/1033745-wood-wallpaper-1080p-1920x1080-for-xiaomi.jpg");
            background-color: burlywood;
      }
      #News {background-color: burlywood;
      }
      #Contact body{background-image:url("http://getwallpapers.com/wallpaper/full/2/0/a/1033745-wood-wallpaper-1080p-1920x1080-for-xiaomi.jpg");
            background-color: #B17E3D;
   }

#defaultOpen{
  background-color: burlywood;
}
